<h2>User: <%= @entry.author %></h2>
<div class="show image"><%= image_tag(@entry.photo_url) %></div>
<div class="show links">
  <%= link_to "EDIT", edit_entry_path %>
  <%= link_to "DELETE", entry_path, method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to "BACK", entries_path %>
</div>
