<!DOCTYPE html>
<html>
<head>
  <title>WDInstgramRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "New Entry", new_entry_path %>
  <%= link_to 'Index', entries_path %>
</nav>

<%= yield %>



</body>
</html>
